<button class='btn btn-info'[routerLink] = "['/users']">DB Users</button>
<h2>
    List of users
  </h2>
  
  <ul class="list-group">
    <li class="list-group-item" *ngFor = "let user of users">{{'User number ' + user.id + ':'}}
      <ul>
        <li>{{'Name: ' + user.name}}</li>
        <li>{{'Phone number: ' + user.phone}}</li>
      </ul> 
    </li>
  </ul>