<button class='btn btn-info'[routerLink] = "['/users-firebase']">FireBase Users</button>

<div>
  <button (click) = "logout()">Logout</button>
 </div>
 <users-form (addUser) = "optimisticAdd($event)" (addUserPs) = "pessimiaticAdd()"></users-form>

<h2>
  List of Users:
</h2>
<br>
<ul class = "list-group">
  <!--li *ngFor = "let key of usersKeys">{{'user number ' + key + ' ' + users[key].username}}</li-->
  <li class = "list-group-item" *ngFor = "let key of usersKeys">
    <button class="btn btn-danger" (click) = "deleteUser(key)">Delete</button>
    <button class="btn btn-info" [routerLink] = "['/user-form', key]">Update</button>
    <a [routerLink] = "['/users', key]">{{'user number '+key+' '+users[key].name+' '+users[key].phone}}</a>
  </li>
</ul>
